
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

//Materialize CSS
@import "node_modules/materialize-css/sass/components/color";

//Materialize icons
@import "node_modules/materialize-css/sass/components/icons-material-design";

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

#app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto
}